@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .lock {
  position: absolute;
  width: 420px;
  height: 600px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_1500_box .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_3000_box {
  width: 420px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box {
  width: 420px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .lock {
  position: absolute;
  width: 420px;
  height: 600px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .coffeeContainer {
  width: 210px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock {
  width: 420px;
  height: 480px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .topContainer {
  width: 100%;
  height: 100px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 70px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .waterContainer {
  width: 150px;
  height: 340px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .outletСontainer {
  width: 180px;
  height: 350px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .outletСontainer .block {
  width: 120px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 150px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .milkContainer {
  width: 150px;
  height: 340px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMaсhineContainer .coffeeMaсhine_5000_box .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}/*# sourceMappingURL=style.css.map */