@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.consolePopup {
  position: absolute;
  width: 60%;
  height: 100px;
  top: 20%;
  z-index: 1111;
  left: 50%;
  margin-left: -30%;
  display: none;
}
.consolePopup input {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.98);
  outline: none;
  padding-left: 20px;
  color: #fff;
  font-size: 24px;
  box-shadow: 0 0 10px 3px #333;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: none;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  perspective: 600px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(-70px, 0, 0);
  transition: 0.5s;
  z-index: 2;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_center .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(750px, 0, -250px);
  transition: 0.5s;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_right .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(-900px, 0, -250px);
  transition: 0.5s;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_1500_box_left .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(-670px, 0, 0);
  transition: 0.5s;
  z-index: 2;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .lockNone {
  display: none;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .lockFlex {
  display: flex;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_center .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(150px, 0, -250px);
  transition: 0.5s;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .lockNone {
  display: none;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .lockFlex {
  display: flex;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_right .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(-1500px, 0, -250px);
  transition: 0.5s;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .lockNone {
  display: none;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .lockFlex {
  display: flex;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_3000_box_left .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(530px, 0, 0);
  transition: 0.5s;
  z-index: 2;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_center .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(1300px, 0, -250px);
  transition: 0.5s;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_right .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transform: translate3d(-300px, 0, -250px);
  transition: 0.5s;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 50%;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 100px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .stratPage .coffeeMachineContainer .coffeeMachine_5000_box_left .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .homePage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-size: cover;
}
.wrap .homePage .powerStationContainer {
  width: 32%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrap .homePage .powerStationContainer .powerStation {
  width: 300px;
  height: 600px;
  background-color: #333;
  border-radius: 0 20px 20px 0;
  padding: 50px 0;
  z-index: 2;
}
.wrap .homePage .powerStationContainer .powerStation .powerStationScreen {
  width: 200px;
  height: 100px;
  background-color: #000;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px 1px #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 28px;
  padding-right: 70px;
}
.wrap .homePage .powerStationContainer .powerStationWire {
  position: absolute;
  width: 350px;
  z-index: 1;
  margin-left: 235px;
  margin-top: 200px;
  transform: rotate(45deg);
  display: none;
}
.wrap .homePage .coffeeMachine {
  width: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box {
  width: 650px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  transition: 0.5s;
  z-index: 2;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .lockNone {
  display: none;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .lockFlex {
  display: flex;
  position: absolute;
  width: 420px;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  color: #fff;
  z-index: 3;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .coffeeContainer {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock {
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer {
  width: 100%;
  height: 150px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 5px 0px #656565;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer {
  width: 70%;
  height: 110px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #656565;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .selectionScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .selectionScreen .imgCoffee {
  width: 100px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .selectionScreen .nameCoffee {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .sizeSelectionScreen {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .sizeSelectionScreen .chooseSize {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .sizeSelectionScreen .chooseSize .cupSize {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .startupScreen {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .startupScreen svg {
  width: 200px;
  height: 200px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .startupScreen svg .progress {
  stroke-dasharray: 1257 1400;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .startupScreen svg .pause {
  display: none;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .startupScreen svg .play {
  display: flex;
}
@keyframes progress {
  from {
    stroke-dasharray: 0 1400;
  }
  to {
    stroke-dasharray: 1257 1400;
  }
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .topContainer .screenContainer .notificationScreen {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .waterContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .waterContainer .waterBox {
  width: 90%;
  height: 90%;
  background-color: #6889c0;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .waterContainer .waterBox .water {
  width: 100%;
  height: 350px;
  background-color: #8ab5ff;
  border-radius: 10px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer {
  width: 220px;
  height: 415px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .block {
  width: 180px;
  height: 50px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 0 #555555;
  position: relative;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .block2 {
  width: 70px;
  height: 20px;
  background-color: #595959;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px 0 #555555;
  margin-bottom: 40px;
  position: relative;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .block3 {
  width: 30px;
  height: 40px;
  background-color: #7f7f7f;
  border-radius: 0 0 5px 5px;
  position: relative;
  bottom: 42px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .coffee {
  width: 25px;
  height: 100px;
  background-color: #6f4e37;
  position: absolute;
  margin-top: 110px;
  display: none;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .glosseContainer {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .glosseContainer .cupСoffee {
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .outletСontainer .glosseContainer .platform {
  width: 180px;
  height: 30px;
  background-color: #555555;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 1px 5px 0 #555555;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .milkContainer {
  width: 170px;
  height: 400px;
  background-color: #7f7f7f;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .milkContainer .milkBox {
  width: 90%;
  height: 90%;
  background-color: #647593;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .mainContainer .milkContainer .milkBox .milk {
  width: 100%;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.wrap .homePage .coffeeMachine .coffeeMachine_box .mainBlock .bottomBlock {
  width: 100%;
  height: 30px;
  background-color: #333;
  box-shadow: 0 -1px 10px 0 #999;
}
.wrap .homePage .socketContainer {
  width: 32%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 200px 0;
}
.wrap .homePage .socketContainer .socketWire {
  position: absolute;
  width: 400px;
  z-index: 2;
  margin: 0 190px -50px 0;
  display: flex;
}
.wrap .homePage .socketContainer .socketBox {
  width: 150px;
  height: 150px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 300px;
  z-index: 1;
}
.wrap .homePage .socketContainer .socketBox .socket {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #555555;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .homePage .socketContainer .socketBox .socket .colo {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */